resources/assets/boostrap/* linguist-vendored
resources/assets/boostrap-switch/* linguist-vendored
resources/assets/css/boostrap-switch.min.css linguist-vendored
resources/assets/css/jquery.timepicker.css linguist-vendored
resources/assets/jquery/* linguist-vendored
resources/assets/js/boostrap.js linguist-vendored
resources/assets/js/jquery.js linguist-vendored
resources/assets/js/jquery.slim.js linguist-vendored
resources/assets/js/boostrap-switch.min.js linguist-vendored
resources/assets/js/jquery.timepicker.js linguist-vendored
